# ipynotebook auto-save temp
.ipynb_checkpoints/

# ignore PyCharm or DataSpell temp config
.idea/

# ignore vscode temp config
.vscode/

# ignore un-zip datasets
/6_CNN-ImgClassification/datasets/**/*.gz